{
    "openapi": "3.1.0",
    "info": {
        "title": "SimpMusic Lyrics API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api-lyrics.simpmusic.org",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/v1": {
            "post": {
                "tags": [
                    "Lyrics"
                ],
                "summary": "Create New Lyric",
                "description": "Creates a new lyric entry with the provided lyric data.",
                "operationId": "createLyric",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LyricRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created lyric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsLyricResponseSuccess"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invalid lyric data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred while creating lyric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/vote": {
            "post": {
                "tags": [
                    "Lyrics"
                ],
                "summary": "Vote for a Lyric",
                "description": "Allows users to vote for a lyric by its ID. Returns the updated lyric data.",
                "operationId": "voteLyric",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VoteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully voted for lyric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsLyricResponseSuccess"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error occurred while processing the vote",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/translated": {
            "post": {
                "tags": [
                    "Translated Lyrics"
                ],
                "summary": "Create New Translated Lyric",
                "description": "Creates a new translated lyric entry with the provided translated lyric data.",
                "operationId": "createTranslatedLyric",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TranslatedLyricRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successfully created translated lyric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsTranslatedLyricResponseSuccess"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invalid translated lyric data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred while creating translated lyric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/translated/vote": {
            "post": {
                "tags": [
                    "Translated Lyrics"
                ],
                "summary": "Vote for a Translated Lyric",
                "description": "Allows users to vote for a translated lyric by its ID. Returns the updated translated lyric data.",
                "operationId": "voteTranslatedLyric",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VoteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully voted for translated lyric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsTranslatedLyricResponseSuccess"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error occurred while processing the vote for translated lyric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred while processing the vote",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/{videoId}": {
            "get": {
                "tags": [
                    "Lyrics"
                ],
                "summary": "Get Lyrics by Video ID",
                "description": "Fetches lyrics associated with a specific video ID. Optionally supports pagination with limit and offset.",
                "operationId": "getLyricsByVideoId",
                "parameters": [
                    {
                        "name": "videoId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved lyrics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LyricResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Lyrics not found for the given video ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/translated/{videoId}": {
            "get": {
                "tags": [
                    "Translated Lyrics"
                ],
                "summary": "Get Translated Lyrics by Video ID",
                "description": "Fetches translated lyrics for a specific video ID with optional pagination using limit and offset parameters.",
                "operationId": "getTranslatedLyricsByVideoId",
                "parameters": [
                    {
                        "name": "videoId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved translated lyrics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsTranslatedLyricsListResponseSuccess"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No translated lyrics found for the given video ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred while retrieving translated lyrics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/translated/{videoId}/{language}": {
            "get": {
                "tags": [
                    "Translated Lyrics"
                ],
                "summary": "Get Translated Lyric by Video ID and Language",
                "description": "Fetches a specific translated lyric for a video ID in a particular language.",
                "operationId": "getTranslatedLyricByVideoIdAndLanguage",
                "parameters": [
                    {
                        "name": "videoId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved translated lyric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsTranslatedLyricResponseSuccess"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No translated lyric found for the given video ID and language",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred while retrieving translated lyric",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/search": {
            "get": {
                "tags": [
                    "Lyrics"
                ],
                "summary": "Search Lyrics",
                "description": "Performs a general search across lyrics content with optional pagination using limit and offset parameters.",
                "operationId": "searchLyrics",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved lyrics matching the search query",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsLyricsListResponseSuccess"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No lyrics found for the search query",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred while searching lyrics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/search/title": {
            "get": {
                "tags": [
                    "Lyrics"
                ],
                "summary": "Search Lyrics by Song Title",
                "description": "Searches for lyrics by song title with optional pagination using limit and offset parameters.",
                "operationId": "getLyricsBySongTitle",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved lyrics matching the title",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsLyricsListResponseSuccess"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No lyrics found for the given title",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred while searching lyrics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/search/artist": {
            "get": {
                "tags": [
                    "Lyrics"
                ],
                "summary": "Search Lyrics by Artist",
                "description": "Searches for lyrics by artist name with optional pagination using limit and offset parameters.",
                "operationId": "getLyricsByArtist",
                "parameters": [
                    {
                        "name": "artist",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved lyrics by the artist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsLyricsListResponseSuccess"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No lyrics found for the given artist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error occurred while searching lyrics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocsErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "DocsLyricResponseSuccess": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/LyricResponseDTO"
                    },
                    "success": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "data",
                    "success"
                ]
            },
            "LyricResponseDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "videoId": {
                        "type": "string"
                    },
                    "songTitle": {
                        "type": "string"
                    },
                    "artistName": {
                        "type": "string"
                    },
                    "albumName": {
                        "type": "string"
                    },
                    "durationSeconds": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "plainLyric": {
                        "type": "string"
                    },
                    "syncedLyrics": {
                        "type": "string"
                    },
                    "richSyncLyrics": {
                        "type": "string"
                    },
                    "vote": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "contributor": {
                        "type": "string"
                    },
                    "contributorEmail": {
                        "type": "string"
                    }
                },
                "required": [
                    "albumName",
                    "artistName",
                    "contributor",
                    "contributorEmail",
                    "durationSeconds",
                    "id",
                    "plainLyric",
                    "songTitle",
                    "videoId",
                    "vote"
                ]
            },
            "DocsErrorResponse": {
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/ErrorResponseDTO"
                    },
                    "success": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "error",
                    "success"
                ]
            },
            "ErrorResponseDTO": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean"
                    },
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "reason": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "error",
                    "reason"
                ]
            },
            "LyricRequestDTO": {
                "type": "object",
                "properties": {
                    "videoId": {
                        "type": "string"
                    },
                    "songTitle": {
                        "type": "string"
                    },
                    "artistName": {
                        "type": "string"
                    },
                    "albumName": {
                        "type": "string"
                    },
                    "durationSeconds": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "plainLyric": {
                        "type": "string"
                    },
                    "syncedLyrics": {
                        "type": "string"
                    },
                    "richSyncLyrics": {
                        "type": "string"
                    },
                    "vote": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "contributor": {
                        "type": "string"
                    },
                    "contributorEmail": {
                        "type": "string"
                    }
                },
                "required": [
                    "albumName",
                    "artistName",
                    "contributor",
                    "contributorEmail",
                    "durationSeconds",
                    "plainLyric",
                    "songTitle",
                    "videoId",
                    "vote"
                ]
            },
            "VoteRequestDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "vote": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "uniqueId": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "uniqueId",
                    "vote"
                ]
            },
            "DocsTranslatedLyricResponseSuccess": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/TranslatedLyricResponseDTO"
                    },
                    "success": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "data",
                    "success"
                ]
            },
            "TranslatedLyricResponseDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "videoId": {
                        "type": "string"
                    },
                    "translatedLyric": {
                        "type": "string"
                    },
                    "language": {
                        "type": "string"
                    },
                    "vote": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "contributor": {
                        "type": "string"
                    },
                    "contributorEmail": {
                        "type": "string"
                    }
                },
                "required": [
                    "contributor",
                    "contributorEmail",
                    "id",
                    "language",
                    "translatedLyric",
                    "videoId",
                    "vote"
                ]
            },
            "TranslatedLyricRequestDTO": {
                "type": "object",
                "properties": {
                    "videoId": {
                        "type": "string"
                    },
                    "translatedLyric": {
                        "type": "string"
                    },
                    "language": {
                        "type": "string"
                    },
                    "vote": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "contributor": {
                        "type": "string"
                    },
                    "contributorEmail": {
                        "type": "string"
                    }
                },
                "required": [
                    "contributor",
                    "contributorEmail",
                    "language",
                    "translatedLyric",
                    "videoId",
                    "vote"
                ]
            },
            "DocsTranslatedLyricsListResponseSuccess": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TranslatedLyricResponseDTO"
                        }
                    },
                    "success": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "data",
                    "success"
                ]
            },
            "DocsLyricsListResponseSuccess": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LyricResponseDTO"
                        }
                    },
                    "success": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "data",
                    "success"
                ]
            }
        }
    }
}